button { 
    color:rgb(74, 74, 74); 
    background-color:rgb(208, 156, 105); 
    border:1px solid; 
    display:inline-blocks;
    height: 50px; 
    line-height: 10px; 
    width: 50px;
    text-overflow: ellipsis;
    border-color: rgb(0, 0, 0);
}
body {
    background-color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;  
}
